{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tictac/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание комнаты</title>
</head>
<body>
    {% block content %}
    <div class="main">
        <h1>Создание комнаты</h1>
        <form method="POST" class="create-room-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Создать</button>
        </form>
        <a href="../" class="btn btn-outline-primary">Назад</a>
    </div>
    {% endblock %}
</body>
</html>