{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tictac/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Крестики-нолики</title>
</head>
<body>
    <div class="main">
        <h1>Крестики-нолики</h1>
        <img class="game-logo" src="{% static 'tictac/tictac.png' %}" alt="Крестики-нолики">
        <a href="./rooms/create" id="room-create" class="btn btn-primary">Создать комнату</a>
        <a href="./rooms" id="room-list" class="btn btn-outline-primary">Найти комнату</a>
    </div>
</body>
</html>