{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tictac/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Комната {{ room.room_name }}</title>
</head>
<body>
    <div class="main">
        <h1>{{ room.room_name }}</h1>
        <div class="tictac-field">
            <div class="tictac-field-line">
                <button id="cell-0" class="tictac-field-button" name="0" value="0">&nbsp;</button>
                <button id="cell-1" class="tictac-field-button" name="1" value="1">&nbsp;</button>
                <button id="cell-2" class="tictac-field-button" name="2" value="2">&nbsp;</button>
            </div>
            <div class="tictac-field-line">
                <button id="cell-3" class="tictac-field-button" name="3" value="3">&nbsp;</button>
                <button id="cell-4" class="tictac-field-button" name="4" value="4">&nbsp;</button>
                <button id="cell-5" class="tictac-field-button" name="5" value="5">&nbsp;</button>
            </div>
            <div class="tictac-field-line">
                <button id="cell-6" class="tictac-field-button" name="6" value="6">&nbsp;</button>
                <button id="cell-7" class="tictac-field-button" name="7" value="7">&nbsp;</button>
                <button id="cell-8" class="tictac-field-button" name="8" value="8">&nbsp;</button>
            </div>
        </div>
        <div class="tictac-room-descr">
            <span>{{ room.room_description }}</span>
        </div>
    </div>

    {{ room.pk|json_script:"room-id" }}
    {{ room.room_state|json_script:"room-state" }}
</body>
<script>
    const cell_buttons = document.querySelectorAll('.tictac-field-button');
    const roomID = JSON.parse(document.getElementById('room-id').textContent);
    const roomState = JSON.parse(document.getElementById('room-state').textContent);
    const cells_disabled_states = {
        '-': false,
        'X': true,
        'O': true,
    }
    const cells_values = {
        '-': '\xa0',
        'X': 'X',
        'O': 'O',
    }
    let player = 'X';
    let next_player = 'O';

    for (var i = 0; i < cell_buttons.length; i++)(function(i) {
        cell_buttons[i].disabled = cells_disabled_states[roomState[i]];
        cell_buttons[i].textContent = cells_values[roomState[i]]
        cell_buttons[i].onclick = function() {
            roomSocket.send(JSON.stringify({
                'player': player,
                'cell': this.id,
            }));
        }
    })(i);

    const roomSocket = new WebSocket(
        'ws://' +
        window.location.host +
        '/ws/tictac/rooms/' +
        roomID +
        '/'
    )

    roomSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        btn = document.querySelector('#' + data.cell);
        btn.textContent = data.player;
        btn.disabled = true;
        [player, next_player] = [next_player, player];
    }
</script>
</html>