{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tictac/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список комнат</title>
</head>
<body>
    <h1>Список комнат</h1>
    {% block content %}
    <div class="room-cards">
        {% for room in rooms %}
            <div class="room-card">
                <div class="room-card-img">
                    <a href="./rooms/{{ room.id }}"><img src="{% static 'tictac/tictac.png' %}" alt="Крестики-нолики"></a>
                </div>
                <div class="room-card-name">
                    <h2><a class="room-link" href="./rooms/{{ room.id }}">{{ room.room_name }}</a></h2>
                </div>
                <div class="room-card-descr">
                    <span>{{ room.room_description }}</span>
                </div>
            </div>
        {% endfor %}
        <div class="room-card room-card-return">
            <a href="../tictac/"><span class="material-symbols-outlined room-card-return-icon">undo</span></a>
        </div>
    </div>
    {% endblock %}
</body>
</html>